/* Generic definitions */

* {
  box-sizing: border-box ;
}

html {
  margin: 0 ;
  padding: 0 ;
}

body {
  min-width: 100px ;
  color: #2e3436 ;
  background-color: #eeeeec ;
  margin: 0 ;
  padding: 0 ;
	font-family: serif ;
}

p {
	margin-top: 1em ;
	margin-bottom: 1em ;
}

h1 {
	text-align: center ;
	color: #ce5c00 ;
	margin: 1em ;
	font-weight: bold ;
	font-family: serif ;
	font-size: 3em ;
}

body.printable {
  color: black ;
  background-color: white ;
}

@media print {
  body {
    color: black ;
    background-color: white ;
  }
}

/* Specific classes. */

#loadingSVG {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%, -50%) ;
}

#loadingSVGScale {
  transition: .3s ;
}

.loadingStart {
  transform: scale(1, 1) ;
  cursor: progress ;
}

.loadingStop {
  transform: scale(0, 0) ;
}

#response {
  max-width: 1000px ;
  margin: 0 auto ;
}

@media print {
  body #response {
    max-width: none ;
  }
}

body.printable #response {
  max-width: none ;
}

/* Main classes */

.block, .error, #response nav {
  border-radius: 10px ;
  padding: 5px 15px ;
  margin: 5px ;
}

#response nav {
  white-space: normal ;
}

.block {
  border: 4px solid #ce5c00 ;
}

.error {
  border: 4px solid #a40000 ;
}

.center {
  text-align: center ;
  margin: auto ;
  overflow-x: auto ;
  width: 100% ;
  white-space: nowrap ;
}

.clickable {
  cursor: pointer ;
}

.clickable.locked {
	cursor: not-allowed ;
}

.wrapper {
	display: inline-block ;
}

@media print {
  body .center {
    overflow-x: visible ;
    white-space: normal ;
  }
}

body.printable .center {
  overflow-x: visible ;
  white-space: normal ;
}

.inlined {
  display: inline ;
}

.space {
  margin-left: 1em ;
  margin-right: 1em ;
}

/* Links */

a {
  color: #ce5c00 ;
  text-decoration: none ;
}

body.printable a {
  color: #ce5c00 ;
}

a::after {
  content: " →" ;
  font-weight: bold ;
  opacity: 0 ;
  padding-left: 0px ;
  padding-right: 4px ;
  white-space: nowrap ;
}

a:hover {
  color: #f57900 ;
  text-shadow: 0px 0px .1px #f57900 ;
  transition: .3s ;
  transition-timing-function: linear;
}

a:hover::after {
  opacity: 1 ;
  padding-left: 4px ;
  padding-right: 0px ;
  transition: .3s ;
  transition-timing-function: linear;
}

a.previous::after {
  content: none ;
}

a.previous::before {
  content: "← " ;
  font-weight: bold ;
  opacity: 0 ;
  padding-left: 4px ;
  padding-right: 0px ;
  white-space: nowrap ;
}

a:hover::before {
  opacity: 1 ;
  padding-left: 0px ;
  padding-right: 4px ;
  transition: .3s ;
  transition-timing-function: linear;
}

a.mainButton, a.secondaryButton {
  display: inline-block ;
  border-radius: 1ex ;
  padding: 0.5ex 1ex ;
  transition-duration: 0.3s ;
  font-weight: bold ;
}

a.mainButton {
  background-color: #f57900 ;
  color: #eeeeec ;
}

a.mainButton:hover {
  background-color: #fcaf3e ;
}

a.secondaryButton {
  background-color: #d3d7cf ;
  color: #2e3436 ;
}

a.secondaryButton:hover {
  background-color: #babdb6 ;
}

/* Lists */

ul {
  list-style-type: none ;
  padding-left: 1em ;
}

ul.bullet > li::before {
  content: "•" ;
  color: #f57900 ;
  display: inline-block ;
  width: 1em ;
}

body.printable ul.bullet > li::before {
  color: #ce5c00 ;
}

select {
  margin-left: 1em ;
  margin-right: 1em ;
}

/* Generic inputs */

input {
  margin: 1px 1em ;
}

input[type="number"] {
  width: 4em ;
}

/* Boolean input */

.switch {
  position: relative ;
  display: inline-block ;
  cursor: pointer ;
  margin-right: 1em ;
  min-height: 25px ;
  min-width: 42px ;
}

.switch > input {
  opacity: 0 ;
  width: 0 ;
  height: 0 ;
  margin-bottom: 7px ;
}

.switch_text {
  font-weight: 700 ;
}

.slider {
  position: absolute ;
  border-radius: 29px ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  background-color: #babdb6 ;
  transition: .4s ;
  width: 40px ;
  height: 24px ;
}

.slider::before {
  position: absolute ;
  content: "" ;
  height: 16px ;
  width: 16px ;
  border-radius: 50% ;
  left: 4px ;
  bottom: 4px ;
  background-color: #eeeeec ;
  transition: .4s ;
}

.slider + span {
  margin-left: 1em ;
}

input[type="checkbox"]:checked + .slider {
  background-color: #ce5c00 ;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #ce5c00 ;
}

input[type="checkbox"]:checked + .slider::before {
  transform: translateX(16px) ;
}

input[type="checkbox"] ~ .textswitchon {
  display: none ;
}

input[type="checkbox"]:checked ~ .textswitchon {
  display: inline-block ;
}

input[type="checkbox"] ~ .textswitchoff {
  display: inline-block ;
}

input[type="checkbox"]:checked ~ .textswitchoff {
  display: none ;
}

/* List input */

.autocomplete {
  position: relative ;
  display: inline-block ;
}

.autocomplete > ul {
  list-style-type: none ;
  display: block ;
  white-space: normal ;
}

.autocomplete > ul > li {
  display: inline-block ;
  background-color: #fcaf3e ;
  border: 2px solid #f57900 ;
  border-radius: 1ex ;
  margin-right: 1ex ;
  padding-left: 3px ;
}

button.autocomplete-close {
  background-color: #eeeeec ;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='7' height='7'><line x1='0' y1='0' x2='7' y2='7' style='stroke:%23ce5c00;stroke-width:2' /><line x1='0' y1='7' x2='7' y2='0' style='stroke:%23ce5c00;stroke-width:2' /></svg>") ;
  background-repeat: no-repeat ;
  background-position: center ;
  border-radius: 50% ;
  border: 2px solid #ce5c00 ;
  vertical-align: text-bottom ;
  margin: 3px ;
  width: 15px ;
  height: 15px ;
  padding: 5px ;
  cursor: pointer ;
}

.autocomplete-disabled button.autocomplete-close {
  display: none ;
}

.autocomplete > input[type="text"] {
  width: 100% ;
  border: 1px solid #f57900 ;
  padding: 3px 1ex ;
  margin: 0 ;
}

.autocomplete-items {
  width: 100% ;
  position: absolute ;
  border: none ;
  z-index: 2 ;
  top: 100% ;
  left: 0 ;
  right: 0 ;
}

.autocomplete-items > div {
  width: 100% ;
  border: 1px solid #f57900 ;
  border-top: none ;
  background-color: #eeeeec ;
  cursor: pointer ;
  overflow-x: auto ;
}

.autocomplete-items > div:hover {
  background-color: #fcaf3e ;
}

.autocomplete-items > div.autocomplete-active {
  color: #eeeeec ;
  background-color: #f57900 ;
}


/* Specific classes */

.history > div, .hints > div, .future > div,
.history li > div, .future li > div {
	display: block ;
}

.history li > div, .hints li > div, .future li > div {
	background-size: 60px ;
  background-position: 9px 0px ;
  background-repeat: no-repeat ;
  border-radius: 10px ;
  padding: 5px 15px 5px 100px ;
  margin: 5px ;
	min-height: 60px ;
}

.history li > div {
  background-color: #e9b96e ;
  background-image: url(icons/book/old03.svg) ;
  border: 4px solid #c17d11 ;
}

.history li:hover > div,
.history li:hover ~ li > div {
	opacity: 0.8 ;
  background-image: url(icons/pencil/eraser02.svg) ;
}

.hints li > div {
  background-color: #729fcf ;
  background-image: url(icons/tool/bulb01.svg) ;
  border: 4px solid #3465a4 ;
}

.future li > div {
  background-color: #edd400 ;
  background-image: url(icons/key/key04.svg) ;
  border: 4px solid #c4a000 ;
}

.future li > div.finalStep {
  background-image: url(icons/tool/bag01.svg) ;
}

.future li > div:hover {
  background-color: #fce94f ;
}

